@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

html {
    height: 100vh;
    background: linear-gradient(to bottom left, #ff0000 0%, #6699ff 100%);
}

.main_block {
    margin: 10vh 40vw;
    padding: 5vh 3vw;
    border-radius: 10px;
    text-align: center;
    background: white;
    font-family: 'Playfair Display', serif;
}

.login, .password, .button {
    margin-top: 3vw;
}

input {
    border-width: 0px 0px 1px 0px;
    outline: none;
    width: 15vw;
    height: 3vh;
    font-size: 1em;
}

img {
    margin-top: 2vw;
    width: 10vw;
}

span {
    display: block;
    text-align: left;
    margin-bottom: 0.5vh;
}
button {
    color: white;
    font-size: 1em;
    width: 10vw;
    height: 5vh;
    border: none;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to bottom left, #ff0000 0%, #6699ff 100%);
}

.block_reg {
    margin-top: 3vw;
    text-align: right;
    font-size: 0.8em;
}

.block_reg a {
    color: black;
}

.block_reg a:hover {
    color: red;
}