@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Roboto:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to bottom left, #ff0000 0%, #6699ff 100%);
    height: 100vh;
}

.main_block {
    margin: 7vh 40vw;
    padding: 3vh 3vw;
    background: white;
    text-align: center;
}
.block_fname,
.block_name,
.block_oname,
.block_email,
.block_pass,
.block_pass2,
.button {
    margin-top: 3vh;
}

input {
    border-width: 0px 0px 1px 0px;
    outline: none;
    width: 15vw;
    height: 3vh;
    font-size: 1em;
}

span {
    display: block;
    text-align: left;
    margin-bottom: 0.5vh;
}

button {
    color: white;
    font-size: 1em;
    width: 10vw;
    height: 5vh;
    border: none;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to bottom left, #ff0000 0%, #6699ff 100%);
}

img {
    margin-top: 2vw;
    width: 10vw;
}